{% trans_default_domain "backend" %}
<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            {#<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>#}
            {#<a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>#}
        </div>

        <h2 class="panel-title">{% trans %}system_user_list{% endtrans %}</h2>
    </header>
    <div class="panel-body">
        <table class="table table-bordered table-striped mb-none" id="datatable-default">
            <thead>
            <tr>
                <th>{% trans %}system_user_info_system_user_name{% endtrans %}</th>
                <th>{% trans %}system_user_info_system_user_username{% endtrans %}</th>
                <th>{% trans %}system_user_info_system_user_role{% endtrans %}</th>
                <th>{% trans %}system_user_info_owner_company{% endtrans %}</th>
                <th>{% trans %}action_list{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for record in list %}
                <tr>
                    <td>{{ record.name }}</td>
                    <td>{{ record.username }}</td>
                    <td>{{ record.systemUserRole }}</td>
                    <td>{{ record.ownerCompany }}</td>
                    <td>
                        <a href="{{ url('app_system_user_edit',{id: record.id}) }}" class="btn btn-default btn-sm" style="max-height: 50px; min-width: 70px;">
                            <i class="fa fa-edit"></i> {% trans %}edit{% endtrans %}</a>
                        <a href="{{ url('app_system_user_delete',{id: record.id}) }}" class="btn btn-default btn-sm" style="max-height: 50px; min-width: 70px;">
                            <i class="fa fa-close"></i> {% trans %}delete{% endtrans %}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</section>