{% extends 'backend/base.html.twig' %}
{% trans_default_domain "backend" %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery.validator.addMethod('confirmPwCheck',function (value,element) {
            return value != '' && value == $('#app_bundle_route_password').val()
        },'{% trans %}route_info_route_password_confirm_msg{% endtrans %}');

        validationRules["app_bundle_route[passwordConfirm]"] = {confirmPwCheck:true};
    </script>
{% endblock %}
{% block content %}
    {{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}
    <div class="panel-body">
        {#<div class="form-group">#}
            {#{{ form_label(form.code ,null,{'label_attr':{'class':'col-md-3 control-label'}}) }}#}
            {#<div class="col-md-6">#}
                {#{{ form_widget(form.code,{'attr':{'class':'form-control'}}) }}#}
                {#{{ form_errors(form.code) }}#}
            {#</div>#}
        {#</div>#}
        <div class="form-group">
            {{ form_label(form.name ,null,{'label_attr':{'class':'col-md-3 control-label'}}) }}
            <div class="col-md-6">
                {{ form_widget(form.name,{'attr':{'class':'form-control'}}) }}
                {{ form_errors(form.name) }}
            </div>
        </div>
        {#<div class="form-group">#}
            {#{{ form_label(form.startPointLat ,null,{'label_attr':{'class':'col-md-3 control-label'}}) }}#}
            {#<div class="col-md-6">#}
                {#{{ form_widget(form.startPointLat,{'attr':{'class':'form-control'}}) }}#}
                {#{{ form_errors(form.startPointLat) }}#}
            {#</div>#}
        {#</div>#}
        {#<div class="form-group">#}
            {#{{ form_label(form.startPointLng,null,{'label_attr':{'class':'col-md-3 control-label'}}) }}#}
            {#<div class="col-md-6">#}
                {#{{ form_widget(form.startPointLng,{'attr':{'class':'form-control'}}) }}#}
                {#{{ form_errors(form.startPointLng) }}#}
            {#</div>#}
        {#</div>#}
        {#<div class="form-group">#}
            {#{{ form_label(form.endPointLat ,null,{'label_attr':{'class':'col-md-3 control-label'}}) }}#}
            {#<div class="col-md-6">#}
                {#{{ form_widget(form.endPointLat,{'attr':{'class':'form-control'}}) }}#}
                {#{{ form_errors(form.endPointLat) }}#}
            {#</div>#}
        {#</div>#}
        {#<div class="form-group">#}
            {#{{ form_label(form.endPointLng ,null,{'label_attr':{'class':'col-md-3 control-label'}}) }}#}
            {#<div class="col-md-6">#}
                {#{{ form_widget(form.endPointLng,{'attr':{'class':'form-control'}}) }}#}
                {#{{ form_errors(form.endPointLng) }}#}
            {#</div>#}
        {#</div>#}
        {#<div class="form-group">#}
            {#{{ form_label(form.routeId ,null,{'label_attr':{'class':'col-md-3 control-label'}}) }}#}
            {#<div class="col-md-6">#}
                {#{{ form_widget(form.routeId,{'attr':{'class':'form-control'}}) }}#}
                {#{{ form_errors(form.routeId) }}#}
            {#</div>#}
        {#</div>#}
        {#<div class="form-group">#}
            {#{{ form_label(form.startPoint ,null,{'label_attr':{'class':'col-md-3 control-label'}}) }}#}
            {#<div class="col-md-6">#}
                {#{{ form_widget(form.startPoint,{'attr':{'class':'form-control'}}) }}#}
                {#{{ form_errors(form.startPoint) }}#}
            {#</div>#}
        {#</div>#}
        {#<div class="form-group">#}
            {#{{ form_label(form.endPoint ,null,{'label_attr':{'class':'col-md-3 control-label'}}) }}#}
            {#<div class="col-md-6">#}
                {#{{ form_widget(form.endPoint,{'attr':{'class':'form-control'}}) }}#}
                {#{{ form_errors(form.endPoint) }}#}
            {#</div>#}
        {#</div>#}
    </div>
    <footer class="panel-footer">
        <div class="row">

            <div class="col-sm-9 col-sm-offset-7">
                {#<button type="reset" class="btn btn-default">Cancel</button>#}
                <a href="{{ path('app_route_list') }}" class="btn btn-default">Cancel</a>
                {{ form_widget(form.save,{'attr':{'class':'btn btn-primary'}}) }}
            </div>
        </div>

    </footer>
    {{ form_end(form) }}
    {#{{  form(form, {'attr': {'novalidate': 'novalidate'}}) }}#}
{% endblock %}