{% trans_default_domain "backend" %}
<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            {#<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>#}
            {#<a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>#}
        </div>

        <h2 class="panel-title">{% trans %}common_user_feedback_list{% endtrans %}</h2>
    </header>
    <div class="panel-body">
        <table class="table table-bordered table-striped mb-none" id="datatable-default">
            <thead>
            <tr>
                <th>{% trans %}common_user_feedback_info_common_user_feedback_name{% endtrans %}</th>
                <th>{% trans %}common_user_feedback_info_common_user_feedback_rate{% endtrans %}</th>
                <th>{% trans %}common_user_feedback_info_common_user_feedback_feedback{% endtrans %}</th>
                <th>{% trans %}common_user_feedback_info_common_user_feedback_date{% endtrans %}</th>
                <th>{% trans %}common_user_feedback_info_common_user_feedback_time{% endtrans %}</th>
                <th>{% trans %}action_list{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for record in list %}
                <tr>
                    <td>{{ record.commonUser }}</td>
                    <td>{{ record.rate}}</td>
                    <td>{{ record.feedback }}</td>
                    <td>{{ record.date|date('Y-m-d') }}</td>
                    <td>{{ record.time|date('H:i:s')}}</td>
                    <td>
                        <a href="{{ url('app_common_user_feedback_edit',{id: record.id}) }}"class="btn btn-default btn-sm" style="max-height: 50px; min-width: 70px;">
                            <i class="fa fa-edit"> </i> {% trans %} edit{% endtrans %}</a>
                        <a href="{{ url('app_common_user_feedback_delete',{id: record.id}) }}"class="btn btn-default btn-sm" style="max-height: 50px; min-width: 70px;">
                            <i class="fa fa-close"> </i> {% trans %} delete{% endtrans %}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</section>