{% extends 'backend/base.html.twig' %}
{% trans_default_domain "backend" %}
{% block javascripts %}
    {{ parent() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script type="text/javascript">
        jQuery.validator.addMethod('confirmPwCheck',function (value,element) {
            return value != '' && value == $('#app_bundle_common_user_package_password').val()
        },'{% trans %}common_user_package_info_common_user_package_password_confirm_msg{% endtrans %}');

        validationRules["app_bundle_common_user_package[passwordConfirm]"] = {confirmPwCheck:true};
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.weekday').select2();
        })
    </script>
{% endblock %}
{% block content %}
    {{ form_start(form,{'attr':{'class':'form-horizontal'}}) }}
    <div class="panel-body">
        <div class="form-group">
            {{ form_label(form.name ,null,{'label_attr':{'class':'col-md-3 control-label'}}) }}
            <div class="col-md-6">
                {{ form_widget(form.name,{'attr':{'class':'form-control'}}) }}
                {{ form_errors(form.name) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.description ,null,{'label_attr':{'class':'col-md-3 control-label'}}) }}
            <div class="col-md-6">
                {{ form_widget(form.description,{'attr':{'class':'form-control'}}) }}
                {{ form_errors(form.description) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.fee ,null,{'label_attr':{'class':'col-md-3 control-label'}}) }}
            <div class="col-md-6">
                {{ form_widget(form.fee,{'attr':{'class':'form-control'}}) }}
                {{ form_errors(form.fee) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.frequency ,null,{'label_attr':{'class':'col-md-3 control-label'}}) }}
            <div class="col-md-6">
                {{ form_widget(form.frequency,{'attr':{'class':'form-control'}}) }}
                {{ form_errors(form.frequency) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.taxPercentage ,null,{'label_attr':{'class':'col-md-3 control-label'}}) }}
            <div class="col-md-6">
                {{ form_widget(form.taxPercentage,{'attr':{'class':'form-control'}}) }}
                {{ form_errors(form.taxPercentage) }}
            </div>
        </div>
    </div>
    {#<footer class="panel-footer">#}
    {#<div class="row">#}

    {#<div class="col-sm-9 col-sm-offset-7">#}
    {#<button type="reset" class="btn btn-default">Cancel</button>#}
    {#<a href="{{ path('app_driver_list') }}" class="btn btn-default">Cancel</button>#}

    {#{{ form_widget(form.save,{'attr':{'class':'btn btn-primary'}}) }}#}
    {#</div>#}
    {#</div>#}

    {#</footer>#}

    <footer class="panel-footer">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-7">
                <a href="{{ path('app_common_user_package_list') }}" class="btn btn-default">Cancel</a>
                {{ form_widget(form.save,{'attr':{'class':'btn btn-primary'}}) }}
            </div>
        </div>

    </footer>
    {{ form_end(form) }}
    {#{{  form(form, {'attr': {'novalidate': 'novalidate'}}) }}#}
{% endblock %}