{% trans_default_domain "backend" %}
<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            {#<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>#}
            {#<a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>#}
        </div>

        <h2 class="panel-title">{% trans %}common_user_list{% endtrans %}</h2>
    </header>
    <div class="panel-body">
        <table class="table table-bordered table-striped mb-none" id="datatable-default">
            <thead>
            <tr>
                <th>{% trans %}common_user_info_common_user_name{% endtrans %}</th>
                {#<th>{% trans %}common_user_info_common_user_username{% endtrans %}</th>#}
                <th>{% trans %}common_user_info_common_user_email{% endtrans %}</th>
                <th>{% trans %}common_user_info_common_user_contact{% endtrans %}</th>
                {#<th>{% trans %}common_user_info_common_user_subscriber_id{% endtrans %}</th>#}
                <th>{% trans %}common_user_info_common_user_package{% endtrans %}</th>
                <th>{% trans %}common_user_info_route_info{% endtrans %}</th>
                <th>{% trans %}action_list{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for record in list %}
                <tr>
                    <td>{{ record.name }}</td>
                    {#<td>{{ record.username }}</td>#}
                    <td>{{ record.email }}</td>
                    <td>{{ record.contact }}</td>
                    {#<td>{{ record.subscriberId }}</td>#}
                    <td>{{ record.commonUserPackage }}</td>
                    <td>{{ record.route }}</td>
                    <td>
                        <a href="{{ url('app_common_user_edit',{id: record.id}) }}" class="btn btn-default btn-sm" style="max-height: 50px; min-width: 70px;">
                            <i class="fa fa-edit"></i> {% trans %}edit{% endtrans %}</a>
                        {#<a href="{{ url('common_user_delete',{id: record.id}) }}" class="btn btn-default btn-sm">#}
                            {#<i class="fa fa-close"></i> {% trans %}delete{% endtrans %}</a>#}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>